// Place all the styles related to the Inquires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card_from{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: rgba(24, 240, 255, 0.475);
  }
  .text_field{
    align-items: center;
  }
  .name{
      color: rgb(0, 0, 0);
      font-size: 18px;
      font: outline;

  }
